@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    cursor: inherit;
  }
  html {
    cursor: url(/cursor/arrow-black.png), auto;
  }
  a, button {
    cursor: url(/cursor/arrow-white.png), auto;
  }
}

@layer components {
  .btn {
    @apply block font-body leading-none text-black border border-black px-[10px] py-[20px] bg-green hover:active:bg-checkered hover:active:pixelated active:contrast-200;
  }
  .btn-wrapper {
    @apply contents;
  }
  .btn-wrapper > button {
    @apply btn w-auto m-0;
  }
}

@layer utilities {
  .braces::before {
    content: '{'
  }
  .braces::after {
    content: '}'
  }
  .pixelated {
    image-rendering: pixelated;
  }
}

/* See https://github.com/vercel/next.js/discussions/41745 */
[data-nextjs-scroll-focus-boundary], [data-rk] {
  display: contents;
}
